header {
    .logoDL {
        display: none;
    }
}
@media only screen and (max-width: 1400px) {
    header {
        .logoDL {
            display: none;
        }
    }
}
@media only screen and (max-width: 900px) {
    header {
        .logoDLearning {
            display: none;
        }
        .logoDL {
            display: block;
        }
    }
}
@media only screen and (max-width: 768px) {
    header {
        .btnAuth {
            display: none!important;
        }
    }
}
