/* #009b5d */
a {
    color: #009b5ded;
    color: #e3e3e3;
    color: #3b3b3b;
}
.kienThucHocDuoc {
    box-shadow: -1px 2px 16px 0px rgba(0, 0, 0, 0.68);
    -webkit-box-shadow: -1px 2px 16px 0px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: -1px 2px 16px 0px rgba(0, 0, 0, 0.68);
    margin: 2rem;
    border-radius: 12px;
    /* position: relative; */
    /* background-color: red; */
    /* z-index: -1; */
}
.kienThucHocDuoc_img {
    position: relative;
    top: 0;
    right: 0;
}
.bg {
    position: absolute;
    top: 7rem;
    z-index: -1;
    background: #e8e8e8;
    background: linear-gradient(92deg, #e8e8e8 0%, #009b5d 80%);
    background: -webkit-linear-gradient(92deg, #e8e8e8 0%, #009b5d 80%);
    background: -moz-linear-gradient(92deg, #e8e8e8 0%, #009b5d 80%);
    width: 550px;
    height: 550px;
    border-radius: 23% 77% 80% 20% / 47% 71% 29% 53%;
    rotate: z -8deg;
}
.button {
    background-color: transparent;
    color: #eeebeb;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 600;
    border: none;
    padding: 20px 30px;
    perspective: 30rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
}

.button::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(320deg, rgb(250, 208, 53), rgb(255, 99, 99));
    z-index: -1;
    transition: background 3s;
}

.button:hover::before {
    animation: rotate 1s;
    transition: all 0.5s;
}

@keyframes rotate {
    0% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}
